@keyframes slidin{
    from{margin-bottom: 100%;}
    to{margin-top: 0%;}
}
@keyframes myrotate{
    100%{transform: rotateZ('360deg')}
}
h2{
     color: aliceblue;
     font-family: "consolas",sans-serif;
     font-size: x-large;
     font-weight: bolder;
     
     
}
body {
    animation: myrotate;
    animation-iteration-count: infinite;
    background-color: rgb(0, 0, 0);
    font-family:  consolas;
    
    text-align: center;
    margin-top: 40px;

}

.container {
    display: inline-block;
    padding: 50px;
    border: 10px solid #9191915e;
    border-radius: 20px;
    
}

input {
    
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    border-width: 2px;
    border-radius: 5px;
    animation: slidin;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

.buttons {
    
    display: grid;
    grid-template-columns: 60px 60px;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

button {
    background-color: rgb(199, 90, 27);
    border: outset;
    border-width: 5px;
    border-color: rgba(104, 57, 57, 0.363);
    border-radius: 5x;
    padding: 10px;
    font-size: 20px;
    cursor:pointer;
}

#resultatBox {
    margin-top: 10px;
    padding: 40px;
    font-size: 24px;
    font-weight: bold;
}
